{% extends 'base.html' %}
{% block title %}首页-tabworld.cn python自学笔记{% endblock %}
{% block main %}
<!-- 文章列表页 -->
<div class="row pt-3">
    <div class="col-8">
        <!-- 遍历文章 -->
        {% for note in page_obj %}
        <div class="media">
            <div class="media-body">
                <h5 class="mt-0"><a href="{% url 'note_detail' note.id %}">{{ note.title }}</a></h5>
                <span class="desc mb-0">{{ note.desc }}</span>
            </div>
            <img src="{{ note.cover.url }}" class="ml-3 img-fluid" alt="..." style="height: 100px; width: 160px;">
        </div>
        <div class="pb-3">
            <span style="font-size: 12px;"><img src="/static/svgs/icons/person.svg" widht="20" height="20"
                    alt="">{{ note.author }}</span>
            <span style="font-size: 12px;"><img src="/static/svgs/icons/clock.svg" widht="20" height="20"
                    alt="">{{ note.created_time }}</span>
            <span style="font-size: 12px;"><img src="/static/svgs/icons/eye.svg" widht="20" height="20"
                    alt="">30</span>
            <span style="font-size: 12px;"><img src="/static/svgs/icons/chat.svg" widht="20" height="20"
                    alt="">40</span>            
            {% if note.category.category == 'PYTHON' %}<span class="python"><a href="{% url 'category_list' note.category.id %}" class="new-a">{{ note.category }}</a></span>
            {% elif note.category.category == 'DJANGO'%}<span class="django"><a href="{% url 'category_list' note.category.id %}" class="new-a">{{ note.category }}</a></span>
            {% elif note.category.category == 'JAVASCRIPT'%}<span class="js"><a href="{% url 'category_list' note.category.id %}" class="new-a">{{ note.category }}</a></span>
            {% else %} <span class="set-default"><a href="{% url 'category_list' note.category.id %}" class="new-a">{{ note.category }}</a></span>
            {% endif %}
            
        </div>
        <hr>
        {% empty %}
        暂无文章
        {% endfor %}
        <!-- 分页 -->
        {% if is_paginated %}
        <ul class="pagination mt-5">
            <!-- 判断是否有上一页，如果没有，上一页就不可点击-->
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">上一页</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">上一页</span></li>
            {% endif %}

            <!-- 显示页数及判断当前在哪一页 -->
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>
                {% else %}
                <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            <!-- 判断是否还有下一页，如果没有，下一页不可点击 -->
            {% if page_obj.has_next %}
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">下一页</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">下一页</span></li>
            {% endif %}
        </ul>
        {% else %}
        <p class="text-center font-weight-lighter">无更多数据了</p>
        {% endif %}
    </div>
    {% include 'collection_bar.html' %}
</div>

{% endblock %}