span {
    color:rgb(39, 37, 35);
    font-size: 12px;
  }
  .desc {
    color: gray;
    font-size: 14px;
  }
  #badge-tag {
    display: inline-block;
    font-size: .0.5rem;
    padding: 0 .375rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: .1875rem;
    background-color: rgba(0,150,94,.1);
  }
  .btn-primary {
    background-color: #159963;
    border-color: #159963;
  }