{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block main %}
<div class="row pt-3">
    <div class="col-lg-9">
        <div class="pb-2">
            <span><img src="http://images.china.cn/attachement/jpg/site1000/20141117/0019b91ec8ef15d39b483e.jpg" alt="" width="30" height="30" class="rounded-circle"></span>
            <span>{{ content.author }}</span>
        </div>
        <h5>{{ content.title }}</h5>
        <div class="pb-2">
            <span style="font-size:12px"><img src="/static/svgs/icons/clock.svg" alt="">{{ content.created_time }}</span>
            <span style="font-size:12px"><img src="/static/svgs/icons/eye.svg" alt="">20</span>
            <span style="font-size:12px"><img src="/static/svgs/icons/chat.svg" alt="">300</span>
            <a style="
            font-size: 0.5rem;
            padding: 0 .2rem;
            height: 0.7rem;
            line-height: 0.7rem;
            border-radius: .1875rem;
            color: #159963;
            background-color: #E7F4EF;" href="{% url 'category_list' content.category.id %}">{{ content.category }}</a>
        </div> 
        <hr>       
        <p>{{ content.content |safe }}</p>
        <div class="mt-5 mb-5">
            <p>评论</p>
            <hr>
            <p class="text-center">暂无评论</p>
        </div>
        <div class="input-group mb-2">
            <input type="text" class="form-control" placeholder="输入昵称" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-2">
            <input type="text" class="form-control" placeholder="输入网址" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <textarea class="form-control" aria-label="With textarea" placeholder="输入评论内容"></textarea>
        </div>
        <button type="button" class="btn btn-warning w-100 mt-2">提交</button>
    </div>
    {% include 'collection_bar.html'%}
</div>
{% endblock %}