{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block main %}
<div class="row pt-3">
    <div class="col-lg-9">
        <div class="pb-2">
            <span><img src="http://images.china.cn/attachement/jpg/site1000/20141117/0019b91ec8ef15d39b483e.jpg" alt="" width="30" height="30" class="rounded-circle"></span>
            <span>{{ content.author }}</span>
        </div>
        <h5>{{ content.title }}</h5>
        <div class="pb-2">
            <span style="font-size:12px"><img src="/static/svgs/icons/clock.svg" alt="">{{ content.created_time }}</span>
            <span style="font-size:12px"><img src="/static/svgs/icons/eye.svg" alt="">{{ content.views }}</span>

            <span style="font-size:12px"><img src="/static/svgs/icons/chat.svg" alt="">{{ comments_count }}</span>
            <a style="
            font-size: 0.5rem;
            padding: 0 .2rem;
            height: 0.7rem;
            line-height: 0.7rem;
            border-radius: .1875rem;
            color: #159963;
            background-color: #E7F4EF;" href="{% url 'category_list' content.category.id %}">{{ content.category }}</a>
        </div> 
        <hr>       
        <p>{{ content.content |safe }}</p>
        {% load comments_extra %}
        {% show_comments content %}
        {% comments_post content %}

    </div>
    {% include 'collection_bar.html'%}
</div>
{% endblock %}